a {


	&:visited {
		// color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		// color: $color__link-hover;
	}
	&:focus,
	&:hover {
		// outline: thin dotted;
		color: $primary-color;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}