.about{
	padding: 150px 0;
}
a,
.custom-button,
.site-header *,
input[type="submit"] {

  // @include transition();
}
.custom-button,
a.custom-button{
  background: $secondary-color;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: $dark-color;
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
  line-height: 50px;
  height: 50px;
  width: 220px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  margin: 0 auto;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  max-width: 100%;
  font-weight: 900;
  letter-spacing: 3px;
  margin:0px 10px;
  @include breakpoint(extrasmall){
    width: 280px;
    line-height: 50px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    height: 50px;
  }
  &:hover{
    background: none;
    color: #fff;
    -webkit-box-shadow: inset 330px 0 0 0 $primary-color;
    box-shadow:  inset 330px 0 0 0 $primary-color;      
  }
}

.custom-button:hover {
  background:  $primary-color;
}
a.secondary-button{
  background: $dark-color ;
  color: $white-color;
}
.more-link{
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 3px;
  color: $dark-color;
  &:hover{
    color: $white-color ;
  }
}

// back to top
a.back-to-top {
 width: 50px;
 height: 50px;
 text-align: center;
 line-height: 50px;
 vertical-align: middle;
 /* text-indent: -9999px; */
 color: #fff;
 font-size: 10px;
 font-weight: 900;
 position: fixed;
 z-index: 1111;
 right: 30px;
 bottom: 30px;
 background: $primary-color;
 background-size: cover;
 opacity: .85;
 top: auto;
}
/*error*/
.section-title{
 padding-bottom: 70px;
 text-align: center;
 @include breakpoint(medium){
  padding-bottom: 20px;
}
h2{
  font-size: 60px;
  font-family: $font__secondary;
  margin-top: 0;
  @include breakpoint(small){
    font-size: 38px;
  }
}
h3{
  font-size: 60px;
  font-weight: 300;
  margin: 0;
  @include breakpoint(small){
    font-size: 36px;
  }
}
p{
  color: #1a1a1a;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 5px;
  margin-top: 30px;
  @include breakpoint(small){
    margin-top: 10px;
    letter-spacing: 0;
  }
}

}
.aboutus,
.reserve,
.gallery,
.events,
.menu-section,
.team{
  padding: 50px 0;
  // @include breakpoint(wide){
  //   padding: 70px 0;
  // }
  // @include breakpoint(medium){
  //   padding: 50px 0;
  // }
}
@include breakpoint(medium){
  .container{
    width: 95%;
  }
}
@include breakpoint(wide){
  .container{
    width: 97%;
  }
}

.rating{
  i{
    color: rgba(0,0,0,.3);

    &.active{
      color: orange;
    }
  }
}