.site-footer{
	background: $lig-dark-color;
	padding: 20px 0 0 0;
	// text-align: center;
	color: $link-color;
	*{
		font-size: 16px;
	}
	a{
		color: $link-color;
		&:hover{
			color: $primary-color;
		}
	}
	.top-footer{
		padding-bottom: 40px;

		h4{
			font-size: 18px;
			color: #fff;
			margin-bottom: 10px;
			margin-top: 30px;
		}

		p{
			width: 550px;
			max-width: 100%;
			margin: 0 auto;
			padding-top: 30px;
			color: $white-color;
		}

	}
	.footer-info{
		background: $primary-color;
		padding: 40px 0;
		line-height: 1.2;
		color: #fff;
		i{
			font-size: 30px;
			margin-bottom: 15px;
			@include breakpoint(small){
				margin-bottom: 10px;
			}
		}
		a{
			color: #fff;
		}
	}
	.footer-nav{
		background: $grey-color;
		padding: 15px 0;
		text-align: center;
		margin: 0;

		li{
			display: inline-block;
			padding: 0 16px;
			@include breakpoint(small){
				padding: 5px 10px;
			}
		}
		@include breakpoint(small){
			// margin: 30px 0;
		}
	}
	.copy-right{
		font-size: 18px;
		padding: 0;
		margin: 0;
	}
	.footer-list{
		li{
			padding: 5px 0;
		}
	}
}
.follow-us-on,
.quick-link{
	text-align: left;
	margin-bottom: 30px;
	@include breakpoint(small){
		text-align: center;
		margin-bottom: 0;
	}
}
.opening-hr{
	text-align: right;
	@include breakpoint(small){
		text-align: center;
	}
}
