.banner{
	.items{
		position: relative;
		.caption{
			position: absolute;
			@include center($horizontal: true, $vertical: true);
			text-align: center;
			.custom-button{
				@include breakpoint(medium){
					margin-bottom: 10px;
				}
			}
			h1{
				color: $primary-color;
				@include breakpoint(medium){
					font-size: 45px;
				}
				@include breakpoint(medium){
					font-size: 30px;
				}
			}
			p{
				color: #fff;
				font-size: 30px;
				text-transform: uppercase;
				letter-spacing: 6px;
				margin: 30px 0;
				@include breakpoint(small){
					letter-spacing: 0;
					margin: 20px 0;
				}
				@include breakpoint(extrasmall){
					font-size: 22px;
					margin: 10px 0;
				}
			}
		}
	}
	.slick-slider{
		-webkit-tap-highlight-color: transparent;
		height: 100vh;
		overflow: hidden;
		@include breakpoint(wide){
			height: inherit;
		}
		@include breakpoint(small){
			.slick-slide img{
				width: 800px;
				max-width: inherit;
			}
		}
	}
	.slick-dots{
		position: absolute;
		bottom: 30px;
		@include center($horizontal: true, $vertical: false);
		display: inline-block;
		li{
			display: inline-block;
			font-size: 0;
			margin: 5px;
			background: $white-color;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			-webkit-border-radius: 50%;
			cursor: pointer;
			&.slick-active{
				background: $primary-color;
			}
			@include breakpoint(small){
				margin-bottom: 10px;
			}
			button{
				background: none;
				box-shadow: 0;
				padding: 0;
				border: none;
			}
		}
	}
}
.aboutus{
	background: 
	url(../images/about-bg.png) no-repeat right bottom,
	url(../images/about-bg-up.png) no-repeat left top;
	text-align: center;
	background-size: 120px;

}
/*reserve*/
.reserve{
	background: url(../images/reserve.jpg) fixed no-repeat;
	background-size: cover;
	color: $white-color;

	input[type='submit']{
		background: $primary-color;
		font-size: 40px;
		text-transform: uppercase;
		padding: 20px 35px;
		color: #000;
		font-weight: bold;
		font-size: 25px;
		margin: 0 auto;
		width: 282px;
		max-width: 100%;
		&:hover{
			background: $dark-color;
			color: $white-color;
		}
		@include breakpoint(small){
			font-size: 18px;
			font-weight: 700;
		}
	}
	.section-title{
		color: $white-color;
		p{
			color: $white-color;
		}
	}
}
/*menu*/
section.menu-section{
	padding-bottom: 90px;
	@include breakpoint(medium){
		padding-bottom: 40px;
	}
	@include breakpoint(small){
		padding-bottom: 10px;
	}
	.nav-tabs {
		border-bottom: 4px solid #DDD;
		>li.active {
			>a {
				border-width: 0;
				border: none;
				color: $primary-color !important;
				background: transparent;
				&:focus {
					border-width: 0;
				}
				&:hover {
					border-width: 0;
				}
				&::after {
					transform: scale(1);
				}
				&::before{
					opacity: 1;
				}
			}
		}
		>li {
			>a {
				border: none;
				color: #666;
				padding: 15px 0;
				&:hover {
					border: none;
					color: $primary-color !important;
					background: transparent;
				}
				&::after {
					content: "";
					background: $primary-color;
					height: 4px;
					position: absolute;
					width: 100%;
					left: 0px;
					bottom: -3px;
					transition: all 250ms ease 0s;
					transform: scale(0);
				}
				&::before{
					display: block;
					content: '';
					width: 0;
					height: 0;
					border-left: 10px solid transparent;
					border-right: 10px solid transparent;
					border-bottom: 9px solid #f9a400;
					position: absolute;
					bottom: 0;
					opacity: 0;
					left: 35%;
				}
			}
			&:hover {
				>a {
					&::after {
						transform: scale(1);
					}
					&::before{
						opacity: 1;
					}
				}
			}
		}
	}
	.tab-nav {
		>li {
			>a {
				&::after {
					background: #21527d none repeat scroll 0% 0%;
					color: #fff;
				}

			}
		}
	}

	.tab-pane {
		padding: 15px 0;
	}
	.tab-content {
		padding: 20px;
	}
	.card {
		background: #FFF none repeat scroll 0% 0%;
		box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
		margin-bottom: 30px;
		@include breakpoint(wide){
			margin-bottom: 0;
		}
	}
	body {
		background: #EDECEC;
		padding: 50px;
	}
	.menu-item-wrap{

		.menu-item{
			@include flex();
			align-items: center;
			margin-bottom: 30px;
			@include breakpoint(extrasmall){
				display: block;
				text-align: center;
			}
		}
		.menu-desc{
			h2{
				font-size: 20px;
				margin-top: 0;
				margin-bottom: 5px;
			}
			p{
				margin-bottom: 0;
			}
		}
		.plate{
			width: 25%;
			@include breakpoint(extrasmall){
				width: 100%;
				margin-bottom: 10px;
			}
		}
		.menu-desc{
			width: 55%;
			@include breakpoint(extrasmall){
				width: 100%;
			}
		}
		.price{
			width: 20%;
			align-self: start;
			margin-top: 16px;
			text-align: center;
			@include breakpoint(extrasmall){
				width: 100%;
			}
		}
	}
	ul.nav.nav-tabs{
		text-align: center;
		li {
			display: inline-block !important;
			float: none !important;
			padding: 0 30px;
			@include breakpoint(small){
				padding: 0 10px;
			}
		}
	}
	.card{
		box-shadow: none;
	}
}

.thumb-img{
	display: block;
	margin-bottom: 40px;
	@include breakpoint(small){
		margin-bottom: 20px;
	}
}

/*events*/
.events{
	background: url(../images/event-bg.png) fixed no-repeat $grey-color;
	.section-title{
		color: $white-color;
	}
	p{
		color: $white-color !important;
	}
	.event-item{
		background: $white-color;
		@include flex();
		margin-bottom: 30px;

		.event-img{
			width: 30%;
		}
		.event-desc{
			width: 70%;
			box-sizing: border-box;
			-webkit-box-sizing: border-box;
			padding-left: 15px;
			i{
				margin-right: 5px;
				color: #535353;
			}
			ul{
				margin: 15px 0;
				li{
					display: inline-block;
					color: #535353;
					font-size: 15px;
					margin-right: 10px;
					img{
						line-height: 0;
					}
				}
				&:after{
					display: block;
					content: '';
					clear: both;

				}
			}
		}
		@include breakpoint(extrasmall){
			display: block;
			text-align: center;
			padding: 30px 15px;
			.event-img{
				width: 100%;
			}
			.event-desc{
				width: 100%;
			}
		}
		a{
			text-transform: uppercase;
			font-size: 16px;
			letter-spacing: 3px;
			color: $dark-color;
			font-weight: 900;
			&:hover{
				color: $primary-color;
			}
		}
	}
	.main-event{
		background: $dark-color;
		height: calc(100% - 30px);
		padding: 10px;
		text-align: center;
		@include flex();
		align-items: center;
		text-align: center;
		@include breakpoint(small){
			padding: 35px 0;
			margin-bottom: 30px;
		}
		.date{
			color: $white-color;
			padding: 20px 10px;
			background: #363636;
			width: 110px;
			text-transform: uppercase;
			font-weight: 900;
			font-size: 13px;
			letter-spacing: 3px;
			margin: 0 auto 15px;
		}
		p{
			margin-bottom: 10px;
		}
		a{
			color: $white-color;
			font-weight: 900;
			&:hover{
				color:$primary-color;
			}
		}
	}
	.flex-row{
		@include flex();
		@include breakpoint(small){
			display: block;
		}
		
	}
}

/*gallary*/
.gallery{
	text-align: center;

	.section-title{
		p{
			/*color: $white-color;*/
		}
	}
	.secondary-button{
		display: inline-block;
		margin-top: 70px;
		@include breakpoint(small){
			margin-top: 10px;
		}
	}
}

/*inner banner*/
.inner-banner{
	position: relative;
	overflow: hidden;
	.banner-caption{
		position: absolute;
		@include center();
		h1{
			color: $primary-color;
			@include breakpoint(medium){
				font-size: 45px;
			}
			@include breakpoint(medium){
				font-size: 30px;
			}
		}
	}
	@include breakpoint(small){
		.slick-slide img{
			width: 800px;
			max-width: inherit;
		}
	}
}
.info-text{
	@include breakpoint(small){
		padding-top: 30px;
	}
}
.inner-wrap,
.main-content{
	padding: 75px;
	border: 1px solid #ebebeb;
	position: relative;
	top: -50px;
	background: #fff;
	input[type='submit']{
		margin: 0 auto;
	}
	@include breakpoint(wide){
		padding: 20px;
	}
	@include breakpoint(small){
		padding: 10px 15px 30px;
		top: 0;
		margin: 20px 0;
	}
}
.contact-info{

	.heading{
		background: $primary-color;
		text-align: center;
		padding: 20px 0;
		color: $white-color;
		margin-bottom: 50px;
		position: relative;
		margin-bottom: 50px;
		&:after{
			display: block;
			content: '';
			position: absolute;
			bottom: -10px;
			border-left: 15px solid transparent;
			border-right: 15px solid transparent;
			border-top: 14px solid $primary-color;
			@include center($horizontal: true, $vertical: false);

		}
		h1{
			font-family: $font__primary;
			margin: 0;
			text-transform: uppercase;
			font-size: 40px;
		}
	}
	.contact-info-list{
		@include flex();
		justify-content: center;
		background: #fcfcfc;
		padding: 20px;
	}
	li{
		@include flex();
		align-items: center;
		margin-bottom: 30px;
		color: #757575;
		@include breakpoint(extrasmall){
			display: block;
			text-align: center;
		}
		&:after{
			display: block;
			content: '';
			clear: both;
		}
		.icon{
			background: $primary-color;
			width: 99px;
			height: 99px;
			border-radius: 50%;
			-webkit-border-radius: 50%;
			text-align: center;
			vertical-align: middle;
			display: block;
			line-height: 99px;
			margin-right: 25px;
			@include breakpoint(extrasmall){
				margin: 0 auto 10px;
			}

			i{
				color: $white-color;
				font-size: 30px;
			}
		}
		.content-desc{
			width: calc(100% - 140px);
			@include breakpoint(extrasmall){
				width: 100%;
			}
			a{
				color: #757575;
				&:hover{
					color: $primary-color;
				}
			}
			p{
				margin-bottom: 0;
			}
		}
	}

}
.contact-form{
	h3{
		font-size: 54px;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 50px;
		@include breakpoint(small){
			font-size: 35px;
			margin-bottom: 20px;
			margin-top: 20px;
		}
	}
	input[type="submit"]{
		background: $primary-color;
	}
}
/*inner*/
.desc-row{
	padding: 50px 0;
	&:first-child{
		padding-top: 0;
	}
	&:last-child{
		padding-bottom: 0;
	}
	@include breakpoint(medium){
		padding: 0;
	}
	.desc-img{
		@include breakpoint(small){
			margin-bottom: 30px;
		}
	}
	.desc-text{
		h2{
			font-size: 60px;
			font-weight: 100;
			margin-bottom: 30px;
			margin-top: 0;
			@include breakpoint(medium){
				font-size: 40px;
			}
		}
		@include breakpoint(small){
			margin-bottom: 50px;
			/*padding: 50px 0;*/
		}
		p{
			line-height: 1.2;
		}
		li{
			line-height: 1.5;
			margin-bottom: 10px;

			&:before{
				display: inline-block;				
				content: "\f105";
				font:  normal 14px/1 FontAwesome;
				padding-right: 10px;
			}
			
		}
	}
	
	> .row{
		@include flex();
		.desc-text{
			background: url(../images/bg.png) no-repeat center center;

		}	
		@include breakpoint(small){
			display: block;
		}
	}
	&:nth-child(even){
		> .row{
			div[class^='col-']:nth-child(1){
				order: 2;
			}
			div[class^='col-']:nth-child(2){
				order: 1;
			}
		}
	}

}
.team{
	background: url(../images/reserve.jpg) fixed no-repeat;
	background-size: cover;
	text-align: center;
	.team-inner{
		background: $white-color;
		padding: 50px;
		@include breakpoint(medium){
			padding: 20px;
		}
		@include breakpoint(small){
			padding: 40px 0;
		}
		p{
			font-size: 14px;
			margin-bottom: 10px;
		}
	}
	a{
		color: #212121;
		&:hover{
			color: $primary-color;
		}
	}
	h3{
		margin-bottom: 0;
	}
}