.services {
    background: #f1f1f1;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.footer_link {
    a.btn-link {
        color: #fff;
    }
}

.notice-board{
    background: $s-light;
    padding: 30px;
    h3{}
    h4{font-size: 18px;margin-top: 10px;margin-bottom: 5px;}
    p{
        line-height: 24px;
    }
}

.cookie_message{
	display:none;
	position: fixed;
	bottom: 0;
	z-index: 999;
	width: 100%;
	background: $s-light;
	color: #fff;
	padding: 30px 0;
	border-top: 1px solid #fff;
}
.cookie_message	p{
    margin-bottom: 20px;
    color: $s-dark;
    margin: 0;
    padding: 0;
}

.center-align{
    margin:0px auto;
}
.amt_btn{
    padding: 0 20px;
}

.page_img{
    float: right;
    width: 500px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.what-right h4 a{
    color: #333;
}