html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
}

*:focus {
  outline: none !important;
}

body {
  font-family: $font__primary;
  line-height: 1;
  font-size: 20px;
  color: $dark-color;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: $font__primary;
}
h1{
  font-family: $font__secondary;
}
h1{
  font-size: 60px;
}
h2{
  font-size: 28px;
}
h5{
  font-size: 26px;
}
h6{
  font-size: 24px;
}
video {
  max-width: 100%;
}

p {
  margin-bottom: 1.2em;
  line-height: 1.5;  
}

li {
  list-style: none;
}

blockquote {
  margin: 0 1.5em;
}
a,
.site-branding{
  @include vendor-prefix('transition', 'all 0.8s ease');
}
a:focus {
  outline: 0;
}
a:hover,
a:focus,
a:active {
  outline: 0;
  text-decoration: none;
}
address {
  margin: 0 0 1.5em;
}

