/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

    .logo_contentmk {
        text-align: left;
    }

    .store-btn {
        text-align: right;
    }

    .header-most-top p {
        text-align-last: left;
    }

    .header ul {
        text-align: right;
    }

    .header ul li {
        display: inline-block;
    }

    .contentmkits_search {
        float: left;
        width: 80%;
    }

    .top_nav_right {
        float: right;
    }

    .copy-right {
        text-align: left;
    }

    .developed-by {
        text-align: right;
    }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}