input[type="button"],
input[type="reset"],
input[type="submit"] {
	background:$dark-color;
	color: $white-color;
	display: block;
	border: none;
	text-transform: uppercase;
	margin: 0 0 0 0;
	@include vendor-prefix('transition', 'none');
    @include vendor-prefix('transition', 'all 0.7s linear');
    @include breakpoint(small){
	    float:none;
	    margin:15px auto 0;
	    width: 300px;
    }

	&:hover,
	&:active,
	&:focus {

	color: $white-color;
   -webkit-box-shadow: inset 290px 0 0 0 $primary-color;
   box-shadow:  inset 290px 0 0 0 $primary-color;           
	}
}