input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea,
select {
	background-color:#f1f1f1;
	border: 2px solid $white-color;
	box-shadow: none;
	-webkit-box-shadow: none;
	/*color: $color__text-input;*/
	display: block;
	padding: 20px 20px;
	font-size: 17px;
	font-weight: 400;
	width: 100%;
	color: #f1f1f1;
	margin-bottom: 20px;
	@include placeholder{
		color: #f1f1f1;
		font-weight: 500;
	}

	&:focus {
		/*color: $color__text-input-focus;*/
	}
	
}
select {
	text-transform: capitalize;	
}
textarea {
	min-height: 193px;
	width: 100%;

}
.reserve{
	input[type="text"],
	input[type="email"],
	input[type="url"],
	input[type="password"],
	input[type="search"],
	input[type="number"],
	input[type="tel"],
	input[type="range"],
	input[type="date"],
	input[type="month"],
	input[type="week"],
	input[type="time"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="color"],
	textarea,
	select{
		background: rgba(225, 225, 225, 0.6);
		margin-bottom: 40px;
		@include breakpoint(small){
			padding:15px;
			margin-bottom: 20px;
		}
	}
}