@import "buttons";

@import "fields";


.form-wrap{
  padding: 49px 0 30px;
  padding-right: 10%;
  p{
    font-size: 22px;
    color: #383838;
    margin-bottom: 47px;
    line-height: 1.4;
  }
  label{
    input{
      background:  $white-color;
      padding: 23px 20px;
      // @include placeholder {
      //   color: #414141;
      //   font-weight: 400;
      // }
    }
    &.one-third{
      width: 31.3%;
      float: left;
      margin-right: 3%;
      &.last{
        margin-right: 0;
      }
    }
    &.full-width{
      margin-bottom: 0;
      width: 100%;
      textarea {
        background: $white-color;
        margin-bottom: 0;
      }
     
    }
  }
  input[type="submit"]{
    border: none;
    background: $primary-color;
    color:  $white-color;
    &:hover{
      background: #16381c;
    }
  }
}
