html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	/*background: $color__background-body;*/ /* Fallback for when there is no custom background color defined. */
}

blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

hr {
	/*background-color: $color__background-hr;*/
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 0; /* Extra wide images within figure tags don't overflow the content area. */
}

@import "tables";



/*Scroll to top*/
// .back-to-top {
//   display: none;
//   position: fixed;
//   @include border-radius(3px);
//   right: -50px;
//   bottom: 10px;
//   background-color: $primary-color;
//   width: 50px;
//   height: 50px;
//   z-index: 999;
//   cursor: pointer;
//   text-align: center;
//   -webkit-transition: all .25s ease-in-out;
//   -moz-transition: all .25s ease-in-out;
//   -ms-transition: all .25s ease-in-out;
//   -o-transition: all .25s ease-in-out;
//   transition: all .25s ease-in-out;
// }
// .back-to-top a{
//   display: block;
// }
// .back-to-top:hover{
//   background-color: #000;
// }
// .back-to-top.top-active{
//   right: 15px;
// }
// .back-to-top a:before,
// .back-to-top a:after {
//   content: "";
//   width: 5px;
//   height: 25px;
//   background-color: #fff;
//   position: absolute;
//   top: 10px;
//   -webkit-transition: all .25s ease-in-out;
//   -moz-transition: all .25s ease-in-out;
//   -ms-transition: all .25s ease-in-out;
//   -o-transition: all .25s ease-in-out;
//   transition: all .25s ease-in-out;
// }
// .back-to-top a:before {
//   -ms-transform: rotate(-50deg);
//   -webkit-transform: rotate(-50deg);
//   transform: rotate(-50deg);
//   right: 14px;
// }
// .back-to-top a:after {
//   -ms-transform: rotate(50deg);
//   -webkit-transform: rotate(50deg);
//   transform: rotate(50deg);
//   right: 30px;
// }