/*$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-shadow: rgba(0,0,0, 0.32);
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-input :#f0f0f0;

$color__text-screen: #21759b;
$color__text-input: #414141;
$color__text-input-focus: #111;
$color__link: #fff;
$color__link-visited: #01578a;
$color__link-hover: #01578a;
$color__text-main: #1e1e1e;
$color__white: #fff;
$color__black: #000;

$transparent-white:rgba(255, 255 , 255 , 0.8);
*/
/*--------------------------------------------------------------
## color
--------------------------------------------------------------*/

$dark-color: #000;
$lig-dark-color: #191919;
$grey-color: #313131;
$primary-color: #d50000;
$main-color: #4a4a4a;
$white-color:#fff;
$light-white:#fff;
$secondary-color:#fff;
$link-color: #757575;

/*--------------------------------------------------------------
## font
--------------------------------------------------------------*/

$font__primary:  'Lato', sans-serif;
$font__secondary: 'Berkshire Swash', cursive;
